
/* Body Elements */

html,body{
  overflow: hidden;
  height: 100%;
  
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: transparent;

  touch-action: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.hide{
  visibility: hidden !important;
  display: none !important;
}

.topRow,.bottomRow{
  margin: auto;
  height: 170px;;
  width: 50%;
}

.row{
  border: 5px solid red;
}

.centerRow{
  margin: 0px 35px;
  width: 100%;
  height: 170px;
}

.circle-1{
   width: 850px;
  border: 5px solid red;

}

.topImg,.bottomImg,.leftImg,.rightImg{
    height: 100px;
    width: 120px;
    display: block;
    padding: 10px;
}

.topImg{
  margin: 30px auto 10px;
}
 
.leftImg{
  margin: 20px auto;
  margin-right: -20px;
}

.mainImg{
  display: block;
  margin: auto;
   height: 150px;
}

.rightImg{
  margin: 20px auto;
  margin-left: -20px;
}

.bottomImg{
  margin: 10px auto 30px;
}

 .topVideo,.bottomVideo,.leftVideo,.rightVideo{
  display: block;
  width: 100%;
  height: 140px !important;
  margin: 10px 0 10px 0;
}


/* PARTICLES.JS */

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00356B;
}
